{% extends "base.html" %}

{% block content %}

<div class="localform">
    <a href="#locationForm">Add location</a>
<form id="locationForm" action="{{url_for('locations.addlocation')}}" method="post">
    {{form.csrf_hidden}}
    {% for field in form if field.widget.input_type != 'hidden' %}
    {{field.label}}&nbsp{{field}}</br>
    {% endfor %}



   <div id="formButtons">
        <input type="submit" id="addLocation" name="addLocation" value="Add" />
        <input type="button" id="cancel" name="cancel" value="cancel" />
    </div>
</form>
</div>


{% endblock %}
