{% extends 'base.html' %}

{% block content %}

    <table name="locationstable">
        <tr>
            <th>Location</th>
            <th>city</th>
            <th>state</th>
            <th>phone</th>
        </tr>

            {% for facility in locations %}
        <tr>
            <td><a href="{{url_for('locations.locationinfo', locationid=facility.id)}}">{{facility}}</td></a>
            <td>{{facility.city}}</td>
            <td>{{facility.state}}</td>
            <td>{{facility.phone}}</td>
        </tr>
            {% endfor %}
    </table>

{% endblock %}
