{% extends 'base.html' %}

    {% block head %}

        <!-- Script for the form-->

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

        <script>
        //Init the form once the document is ready
        $( init );

        //Initialize the form
        function init() {
            $('#locationForm').hide();
            $("#cancel").click(function() {
            $("#locationForm").fadeOut('fast');
            $(".table").fadeIn('fast');
                });

            $("a").click(function() {
            $('.table').fadeOut('fast');
            $("#locationForm").fadeIn('fast');
                });
        }

        function confirmDelete(){
            var x = confirm("Are you sure?");
            if (x)
                return true;
            else
                return  false
        }
        </script>

    {% endblock %}

    <!-- Script End-->

    <!-- body content-->


    {% block content %}
    
    <!--   Form   -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <!--   Form   -->

    <div class="localform">
        <a href="#locationForm">Add location</a>
         <form id="locationForm" action="{{url_for('locations.addlocation')}}" method="post">
            {{form.hidden_tag()}}
            {{form.csrf_hidden}}
            {% for input in form if input.widget.input_type != 'hidden' %}
                <label>{{input.label}}</label>{{input}}
            {% endfor %}


    <div id="formButtons">
        <input type="submit" id="addButton" name="addButton" value="Add" />
        <input type="button" id="cancel" name="cancel" value="cancel" />
    </div>
    
    </form>
    </div>


    <div id="addingLocation" class="statusMessage"><p>Adding location. Please wait...</p></div>
    <div id="successe" class="statusMessage"><p>Thanks for adding! We'll get back to you shortly.</p></div>
    <div id="failure" class="statusMessage"><p>There was a problem sending your message. Please try again.</p></div>
    <div id="incomplete" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

    

    <!--   Locations Table   -->


    <!-- <div class="table"> -->
        <table id="example">
            <thead>
            <tr>
                <th>Edit</th>
                <th>Location</th>
                <th>city</th>
                <th>state</th>
                <th>phone</th>
                <th>delete</th>
            </tr>
            </thead>

            <tbody>
                {% for loc in locations %}
                <tr>
                    <td>{{loc.id}}</td>
                    <td>{{loc.facilityname}}</td>
                    <td>{{loc.city}}</td>
                    <td>{{loc.state}}</td>
                    <td>{{loc.phone}}</td>
                    <td>{{delete}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
     <script>

    $(document).ready(function() {
        $("#example").dataTable( {
            });
        });

     </script>

{% endblock %}
