{% extends 'base.html' %}

{% block content %}


<script>
    $(document).ready(function(){
        $("#courseTable").DataTable({
        });
    });
</script>

    <table id="courseTable">
        <thead>
            <tr>
                <th>coursecode</th>
                <th>coursetitle</th>
                <th>price</th>
                <th>duration</th>
                <th>category</th>
            </tr>
        </thead>

    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{course.coursecode}}</td>
            <td>{{course.coursetitle}}</td>
            <td>{{course.price}}</td>
            <td>{{course.duration}}</td>
            <td>{{course.category}}</td>
        </tr>
        {% endfor%}
    </tbody>
    </table>


{% endblock %}
