{% extends 'base.html' %}

{% block content %}

    <div class="flashMessage">
        {% with message = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="contactForm">
        <form class="contacForm" action="{{url_for('contact.contactus')}}" method="post">
            {{form.hidden_tag()}}
            {{form.csrf_hidden}}
            <ul>
                {% for input in form if input.widget.input_type != 'hidden' %}
                <label>{{input.label}}</label>{{input}}</br>
                {% endfor %}
            </ul>
            
        <div id="formButtons">
            <input type="submit" id="sendButton" name="sendbutton" value="Add" />
            <input type="button" id="cancel" name="cancel" value="cancel" />
        </div>


        </form>
    </div>


{% endblock %}
