{# app/templates/base.html #}

{% from 'nav_macros.html' import nav_link with context %}

<!DOCTYPE html>
    
    <head>
        {% block head %}
        {% endblock %}

        <script src="{{url_for('static', filename='jquery-2.1.1.min.js') }}" ></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/addon.css')}}" media="screen">


        <title>LMS</title>

    </head>

    <body>
        <div class="container">

        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collape navbar-collapse navbar-inner">
                    <ul class="nav navbar-nav">

                        <li>{{ nav_link('schedule.schedule', 'schedule') }}</li>
                        <li>{{ nav_link('enrollments.index', 'enrollments') }}</li>
                        <li>{{ nav_link('courses.courses', 'courses') }}</li>
                        <li>{{ nav_link('students.students', 'students') }}</li>
                        <li>{{ nav_link('locations.locations', 'locations') }}</li>
                        <li>{{ nav_link('contact.contactus', 'contactus') }}</li>
                        <li>{{ nav_link('profile.profile', 'profile') }}</li>

                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <li>{{ nav_link('users.users_login', 'login') }}</li>
                    </ul>
            </div>



        </div><!-- .container-fluid -->
        </nav>

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

        <div>
    </body>

</html>
